.mega-drawer {
  @media (max-width: 768px) {
    display: none;
  }
  .MuiDrawer-paper {
    width: 850px;
    max-width: calc(100% - 20px);
    display: flex;
    flex-direction: row;
    height: calc(100% - 100px);
    margin-top: 100px;
  }
  .MuiBackdrop-root {
    opacity: 0 !important;
  }
  .mega-details {
    width: calc(100% - 250px);
    .mega-details-banner {
      width: 100%;
      height: 150px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      & > div {
        padding: 0 0 0 15px;
      }
      img {
        height: 100%;
      }
      p {
        color: white;
        font-size: 16px;
        line-height: 20px;
        font-family: "Montserrat";
        @media (max-width: 960px) {
          font-size: 14px;
        }
      }
      .mega-banner-title {
        font-size: 50px;
        line-height: 60px;
        font-weight: 600;
        white-space: nowrap;
        @media (max-width: 960px) {
          font-size: 35px;
        }
      }
      button {
        background: transparent;
        border: 1px solid white;
        border-radius: 8px;
        width: 78px;
        height: 23px;
        outline: none;
        color: white;
        font-size: 12px;
        font-family: "Montserrat";
        line-height: 15px;
        margin: 10px 0;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
    }
    .mega-details-container {
      padding: 15px;
      height: calc(100% - 150px);
      overflow: scroll;
      & > div {
        padding: 10px 0 0;
        display: flex;
        width: 100%;
        .mega-child-name {
          width: 120px;
          p {
            font-size: 15px;
            line-height: 20px;
            font-weight: 600;
            margin-top: 5px;
          }
          .mega-see-all {
            font-weight: normal;
            cursor: pointer;
            text-decoration: underline;
            &:hover {
              opacity: 0.7;
            }
          }
        }
        .mega-child-contents {
          width: calc(100% - 120px);
          padding: 0 5px 10px;
          display: flex;
          justify-content: space-between;
          flex-wrap: wrap;
          p {
            // width: 33%;
            font-size: 15px;
            line-height: 20px;
            font-weight: normal;
            text-align: left;
            padding: 5px 0;
          }
        }
      }
    }
  }
  .mega-nav-container {
    width: 250px;
    padding: 15px 20px;
    .mega-nav-item {
      margin: 15px 0;
      a,
      p {
        font-size: 14px;
        font-weight: 600;
        color: black;
        cursor: pointer;
        &:hover {
          opacity: 0.7;
        }
      }
      a {
        color: $grey-3;
        font-weight: 500;
      }
    }
  }
}
